* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #f5f5f5;
}

/* HEADER */
.header {
  background: rgba(0, 65, 150, 0.9);
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  backdrop-filter: blur(10px);
  animation: slide-down 1s ease;
}

.logo {
  color: white;
  font-size: 26px;
  font-weight: bold;
}

nav a {
  color: white;
  margin-left: 25px;
  text-decoration: none;
  font-size: 18px;
  transition: 0.3s;
}

nav a:hover {
  color: #ffdd00;
  transform: scale(1.1);
}

/* HERO */
.hero {
  background: url("docter.jpg") no-repeat center/cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-text h1 {
  color: black;
  font-size: 55px;
  animation: fade 2s;
}

.hero-text p {
  color:black;
  font-size: 22px;
  margin-top: 10px;
  animation: fade 3s;
}

.btn {
  display: inline-block;
  padding: 12px 25px;
  margin-top: 15px;
  background: #ffcc00;
  border-radius: 6px;
  color: #000;
  font-size: 18px;
}

.glow:hover {
  box-shadow: 0px 0px 15px #ffee88;
  transform: scale(1.05);
}

/* SECTIONS */
section {
  padding: 90px 40px;
  text-align: center;
}

h2 {
  font-size: 34px;
  color: #0041a7;
  margin-bottom: 20px;
}

/* CARDS */
.departments,
.doctors,
.services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 20px #9ec9ff;
}

.doctor-img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
}

/* FORM */
form input,
form select,
form textarea {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid gray;
  border-radius: 6px;
}

form button {
  width: 100%;
  background: #0041a7;
  color: white;
  padding: 14px;
  border-radius: 6px;
  font-size: 18px;
}

/* FOOTER */
footer {
  background: #003680;
  color: white;
  text-align: center;
  padding: 15px;
}

/* ANIMATIONS */
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-down {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
